#diorama {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom:56.25%;
}

.diorama-layer {
	position: absolute;
	width: 100%;
}

.actor {
	position: absolute;
}

.thing {
	position: absolute;
}

.thing-debug {
	background-color: #ff00ff;
}
