html, body, #map {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-family: 'Antic Slab', serif;
	font-size: 2vw;
}

#diorama {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom:56.25%;
	overflow: hidden;
}

.diorama-layer {
	pointer-events: none;
	position: absolute;
	height: 100%;
}

.diorama-background {
}

.player {
	pointer-events: none !important;
	cursor: default !important;
}

.actor {
	position: absolute;
	pointer-events: auto;
	cursor: pointer;
}

.thing {
	position: absolute;
	pointer-events: auto;
	cursor: pointer;
}

.thing-debug {
	background-color: rgba(255, 0, 255, 0.125);
}

@keyframes spin1 {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@keyframes spin2 {
	from { transform: rotate(360deg); }
	to { transform: rotate(0deg); }
}

.spin1 {
	animation-name: spin1;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.spin2 {
	animation-name: spin2;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
