html, body, #map {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-family: 'Antic Slab', serif;
	font-size: 1.75vw;
}

#diorama {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom:56.25%;
	overflow: hidden;
}

.diorama-layer {
	pointer-events: none;
	position: absolute;
	height: 100%;
}

.diorama-background {
}

.player {
	pointer-events: none !important;
	cursor: default !important;
}

.actor {
	position: absolute;
	pointer-events: auto;
	cursor: pointer;
}

.thing {
	position: absolute;
	pointer-events: auto;
	cursor: pointer;
}

.dialog {
	position: absolute;
	pointer-events: auto;
	left: 28%;
	top: 5%;
	transform: scale(1.5);
}

#dialog-modal {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: none;
}

.dialog-content {
	position: absolute;
	text-align: center;
/*
	top: 20%;
	left: 5%;
	width: 90%;
	height: 60%
*/
	top: 15%;
	left: 20%;
	width: 60%;
	height: 70%
	background-color: rgba(255, 0, 255, 0.125);
}

/*
.thing-debug {
	background-color: rgba(255, 0, 255, 0.125);
}
*/

@keyframes spin1 {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@keyframes spin2 {
	from { transform: rotate(360deg); }
	to { transform: rotate(0deg); }
}

.spin1 {
	animation-name: spin1;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.spin2 {
	animation-name: spin2;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
